<?xml version="1.0"?>
<config>
	<modules>
		<Acegmbh_Flux>
			<version>0.1.8</version>
		</Acegmbh_Flux>
	</modules>
	<admin>
		<routers>
			<flux>
				<use>admin</use>
				<args>
					<module>Acegmbh_Flux</module>
					<frontName>flux</frontName>
				</args>
			</flux>
		</routers>
	</admin>
	<adminhtml>
		<layout>
            <updates>
                <flux>
                    <file>acegmbh_flux.xml</file>
                </flux>
            </updates>
        </layout>
        
     <events>
    <checkout_submit_all_after>
	<observers>
		<Acegmbh_Flux>
			<type>singleton</type>
			<class>flux/observer</class>
			<method>placeOrder</method>
		</Acegmbh_Flux>
	</observers>
    </checkout_submit_all_after>									
  </events>
        
	</adminhtml>
 	
	<frontend>
		<translate>
            <modules>
                <Acegmbh_Flux>
                    <files>
                        <default>Acegmbh_Flux.csv</default>
                    </files>
                </Acegmbh_Flux>
            </modules>
        </translate>
		<layout>
			<updates>
				<dlmanagerlinks>
					<file>flux.xml</file>
				</dlmanagerlinks>
			</updates>
		</layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Acegmbh_Flux before="Mage_Checkout">Acegmbh_Flux_Checkout</Acegmbh_Flux>
                    </modules>
                </args>
            </checkout>
        </routers>		
	</frontend>
    	
	<global>
		<models>
			<flux>
				<class>Acegmbh_Flux_Model</class>
				<resourceModel>flux_mysql4</resourceModel>
			</flux>
			<flux_mysql4>
				<class>Acegmbh_Flux_Model_Mysql4</class>
				<entities>
					<orders>
						<table>flux_orders</table>
					</orders>
					<users>
						<table>flux_users</table>
					</users>
				</entities>
			</flux_mysql4>
			<customer>
				<rewrite>
					<customer>Acegmbh_Flux_Model_Customer</customer>	<!-- needed to change pw-hash function effectively -->
				</rewrite>
        	</customer>
        	<acegmbh_flux>
				<class>Acegmbh_Flux_Model</class>
			</acegmbh_flux>
		</models>
		<resources>
			<flux_setup>
				<setup>
					<module>Acegmbh_Flux</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</flux_setup>
			<flux_write>
				<connection>
					<use>core_write</use>
				</connection>
			</flux_write>
			<flux_read>
				<connection>
					<use>core_read</use>
				</connection>
			</flux_read>
		</resources>
		<blocks>
			<flux>
				<class>Acegmbh_Flux_Block</class>
			</flux>
			<downloadable>
				<rewrite>
				  <customer_products_list>Acegmbh_Flux_Block_Customer_Products_List</customer_products_list>
				</rewrite>
			</downloadable>
		</blocks>
		<helpers>
			<flux>
				<class>Acegmbh_Flux_Helper</class>
			</flux>
		</helpers>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<Acegmbh_Flux>
						<type>singleton</type>
						<class>flux/observer</class>
						<method>placeOrder</method>
					</Acegmbh_Flux>
				</observers>
			</checkout_onepage_controller_success_action>
			<!-- regular "create customer" form -->
			<controller_action_predispatch_customer_account_createpost>
				<observers>
					<Acegmbh_Flux>
						<type>singleton</type>
						<class>flux/observer</class>
						<method>checkFluxUser</method>
					</Acegmbh_Flux>
				</observers>
			</controller_action_predispatch_customer_account_createpost>
			<customer_register_success>
				<observers>
					<Acegmbh_Flux>
						<type>singleton</type>
						<class>flux/observer</class>
						<method>createFluxUser</method>
					</Acegmbh_Flux>
				</observers>
			</customer_register_success>
			<customer_save_after>
				<observers>
					<Acegmbh_Flux>
						<type>singleton</type>
						<class>flux/observer</class>
						<method>changeFluxPw</method>
					</Acegmbh_Flux>
				</observers>
			</customer_save_after>	
			
			<customer_customer_authenticated>
				<observers>
					<Acegmbh_Flux>
						<type>singleton</type>
						<class>flux/observer</class>
						<method>changeOldPassword</method>
					</Acegmbh_Flux>
				</observers>
			</customer_customer_authenticated>
			
			<adminhtml_sales_order_create_process_data_before>
				<observers>
					<Acegmbh_Flux>
						<type>singleton</type>
						<class>flux/observer_order</class>
						<method>beforeAdminOrder</method>
					</Acegmbh_Flux>
				</observers>
			</adminhtml_sales_order_create_process_data_before>
			
			<controller_action_layout_load_before>
				<observers>
					<Acegmbh_Flux>
						<type>singleton</type>
						<class>flux/observer_template</class>
						<method>setTemplate</method>
					</Acegmbh_Flux>
				</observers>
			</controller_action_layout_load_before>
													
		</events>
		
		 <catalog>
            <product>
                <type>
                    <bundle translate="label" module="bundle">
                        <allowed_selection_types>
                            <downloadable/>
                        </allowed_selection_types>
                    </bundle>
                </type>
            </product>
        </catalog>
		
		
		
		
	</global>
	<default>
	    <acegmbh_flux>
	        <flux>
	            <flux_theme_id>828</flux_theme_id>
	            <flux_email>sandbox@flickrocket.com</flux_email>
	            <flux_password>sandbox1971</flux_password>
	            <flux_wsdl>http://sandbox.flickrocket.com/services/OnDemandOrder/Service.asmx?WSDL</flux_wsdl>
	            <flux_template>1</flux_template>
	        </flux>
	    </acegmbh_flux>
	</default>	
</config>
