<config>
	<tabs>
        <acegmbh translate="label"> <!-- module="all" -->
            <label>Flickrocket Extension</label>
            <sort_order>900</sort_order>
        </acegmbh>
    </tabs>
	<sections>
		<acegmbh_flux translate="label">
			<label>General Settings</label>
            <tab>acegmbh</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<groups>
				<flux translate="label">
                    <label>Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>900</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
                    <fields>
                        <flux_theme_id translate="label,comment">
                            <label>Theme ID</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>acegmbh_flux/flux_config_demo</backend_model> 
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Unique Theme ID (see FlickRocket -> Shop -> Themes)</comment>
                        </flux_theme_id>
                        <flux_email translate="label,comment">
                            <label>Email Address</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>acegmbh_flux/flux_config_demo</backend_model> 
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Email of user registered with FlickRocket with Shop Management permission</comment>
                        </flux_email>
                        <flux_password translate="label,comment">
                            <label>Password</label>
                            <frontend_type>password</frontend_type>
                            <backend_model>acegmbh_flux/flux_config_demo</backend_model> 
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>May be empty for generic sandbox environment</comment>
                        </flux_password>
                        <flux_wsdl translate="label,comment">
                            <label>Environment</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>acegmbh_flux/flux_config_demo</backend_model> 
							<source_model>
								acegmbh_flux/adminhtml_system_config_source_wsdlurls
						    </source_model>	
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select between live (productive) and sandbox (testing)</comment>
                        </flux_wsdl>
                    </fields>
                </flux>
            </groups>
        </acegmbh_flux>
	</sections>
</config>
